body {
    width: 100%;
    margin: 0;
}
.menu-container {
    display: flex;
    justify-content: center;
}

.menu {
    background-color: #1f2937;
    color: #F9FAF8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
}

.menu-1,.menu-2,.menu-3 {
    margin-left: 20px;
    color: white;
}

.header-container {
    padding: 100px;
    height: 300px;
    background-color: #1f2937;
    display: flex;
    gap: 100px;
    justify-content: center;
} 

.pacaeholder {
    display: flex;
    width: 300;
    height: 200;
}

.awesome {
    color: #F9FAF8;
    font-size: 48px;
    display: flex;
    margin: 0;
}

.subtext {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    display: flex;
    color: #F9FAF8;
    padding: 7px 1em;
    border-radius: 8px;
    background-color: #3882F6;
    width: 59px;
}

.main-container {
    display: flex;
    padding: 48px 0 160px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    }

.information {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
}    

.information > .info {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.info p {
    text-align: center;
}
.random {
    display: flex;
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
}

.image {
    border-radius: 25px;
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
}
