.container {
    color: white;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.nav {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.nav > p {
    color: #FFFFFF;
}

a {
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
}


ul{
  list-style-type: none;
  display: flex;
  gap: 25px;
}


